// Import library functions for theme creation.
@use '@brightlayer-ui/colors/palette.scss' as blui;
@use 'utility' as utils;

@use './mixins/input-field';
@use './mixins/chip';
@use './mixins/button';
@use './mixins/button-toggle.scss';
@use './mixins/tab';
@use './mixins/stepper';
@use './mixins/slide-toggle';

@mixin bluetheme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: blui.$blui-red;
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    /* input fields */
    $inputPrimary: (
        icon: map-get($foreground, secondary-text),
        placeholder: map-get(blui.$blui-black, 100),
        hint: map-get($foreground, hint-text),
        filledBackgroundColor: map-get(blui.$blui-white, 200),
        label: (
            withoutValue: map-get($foreground, hint-text),
            withValue: map-get($foreground, text),
            onFocus: map-get($primary, 500),
        ),
        underline: (
            default: map-get($foreground, divider),
            onHover: map-get($foreground, text),
            onFocus: map-get($primary, 500),
        ),
    );
    $inputWarn: (
        icon: map-get($foreground, secondary-text),
        placeholder: map-get(blui.$blui-black, 100),
        hint: map-get($warn, 500),
        filledBackgroundColor: map-get(blui.$blui-white, 200),
        highlightColor: rgba(map-get($warn, 500), 0.2),
        label: (
            withoutValue: map-get($warn, 500),
            withValue: map-get($warn, 500),
            onFocus: map-get($warn, 500),
        ),
        underline: (
            default: map-get($warn, 500),
            onHover: map-get($warn, 900),
            onFocus: map-get($warn, 500),
        ),
    );
    $inputDisabled: (
        text: map-get($foreground, disabled),
        filledBackgroundColor: map-get(blui.$blui-white, 100),
    );
    @include input-field.blui-mat-form-field($inputPrimary, $inputWarn, $inputDisabled);
    /* Mat Disabled Select Underline Color */
    .mat-form-field.mat-form-field-disabled.mat-form-field-appearance-legacy,
    .mat-form-field.mat-form-field-disabled,
    .mat-form-field.mat-form-field-disabled.mat-form-field-appearance-standard {
        .mat-form-field-underline {
            background-color: map-get($foreground, divider);
        }
    }
    .mat-form-field.mat-form-field-disabled.mat-form-field-appearance-fill .mat-form-field-underline::before {
        background-color: map-get($foreground, divider);
    }
    .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
        color: map-get($foreground, divider);
    }

    /* Chips */
    $coloredChipText: map-get(blui.$blui-white, 50);
    $chipPrimary: (
        color: $coloredChipText,
        hoverColor: $coloredChipText,
        background: map-get($primary, 500),
        hoverBackground: map-get($primary, 300),
        removeIconColor: map-get($primary, 100),
        removeIconHoverColor: $coloredChipText,
        disabledColor: map-get($primary, 200),
        disabledBackground: map-get($primary, 50),
        removeIconDisabledColor: map-get($primary, 100),
        avatarColor: map-get($primary, 500),
        avatarBackground: map-get($primary, 50),
        avatarDisabledColor: map-get($primary, 200),
    );
    $chipAccent: (
        color: $coloredChipText,
        hoverColor: $coloredChipText,
        background: map-get($accent, 500),
        hoverBackground: map-get($accent, 300),
        removeIconColor: map-get($accent, 100),
        removeIconHoverColor: $coloredChipText,
        disabledColor: map-get($accent, 200),
        disabledBackground: map-get($accent, 50),
        removeIconDisabledColor: map-get($accent, 100),
        avatarColor: map-get($primary, 500),
        avatarBackground: map-get($primary, 50),
        avatarDisabledColor: map-get($accent, 200),
    );
    $chipWarn: (
        color: $coloredChipText,
        hoverColor: $coloredChipText,
        background: map-get($warn, 500),
        hoverBackground: map-get($warn, 300),
        removeIconColor: map-get($warn, 100),
        removeIconHoverColor: $coloredChipText,
        disabledColor: map-get($warn, 200),
        disabledBackground: map-get($warn, 50),
        removeIconDisabledColor: map-get($warn, 100),
        avatarColor: map-get($warn, 500),
        avatarBackground: map-get($warn, 50),
        avatarDisabledColor: map-get($warn, 200),
    );
    $chipDefault: (
        color: map-get(blui.$blui-black, 500),
        hoverColor: map-get(blui.$blui-black, 500),
        background: map-get(blui.$blui-white, 500),
        hoverBackground: map-get(blui.$blui-gray, 100),
        removeIconColor: map-get(blui.$blui-gray, 500),
        removeIconHoverColor: map-get(blui.$blui-gray, 900),
        disabledColor: rgba(map-get(blui.$blui-gray, 900), 0.3),
        disabledBackground: map-get(blui.$blui-white, 500),
        removeIconDisabledColor: rgba(map-get(blui.$blui-gray, 900), 0.3),
        avatarColor: map-get(blui.$blui-white, 50),
        avatarBackground: map-get($primary, 500),
        avatarDisabledColor: map-get(blui.$blui-white, 50),
    );
    @include chip.blui-mat-chip-default($chipPrimary, $chipAccent, $chipWarn, $chipDefault);
    .mat-chip.mat-chip-disabled .mat-chip-avatar {
        opacity: 0.5;
    }

    /* Chips-Outline */
    $chipOutlinePrimary: (
        color: map-get($primary, 500),
        hoverColor: map-get($primary, 500),
        background: rgba(map-get($primary, 500), 0.05),
        hoverBackground: rgba(map-get($primary, 500), 0.1),
        removeIconColor: map-get($primary, 200),
        removeIconHoverColor: map-get($primary, 500),
        avatarColor: map-get($primary, 500),
        avatarBackground: map-get($primary, 100),
        avatarDisabledColor: map-get($primary, 500),
        avatarDisabledBackground: map-get($primary, 100),
    );
    $chipOutlineAccent: (
        color: map-get($accent, 500),
        hoverColor: map-get($accent, 500),
        background: rgba(map-get($primary, 500), 0.05),
        hoverBackground: rgba(map-get($primary, 500), 0.1),
        removeIconColor: map-get($accent, 200),
        removeIconHoverColor: map-get($accent, 500),
        avatarColor: map-get($primary, 500),
        avatarBackground: map-get($primary, 100),
        avatarDisabledColor: map-get($primary, 500),
        avatarDisabledBackground: map-get($primary, 100),
    );
    $chipOutlineWarn: (
        color: map-get($warn, 500),
        hoverColor: map-get($warn, 500),
        background: rgba(map-get($warn, 500), 0.05),
        hoverBackground: rgba(map-get($warn, 500), 0.1),
        removeIconColor: map-get($warn, 200),
        removeIconHoverColor: map-get($warn, 500),
        avatarColor: map-get($warn, 500),
        avatarBackground: map-get($warn, 100),
        avatarDisabledColor: map-get($warn, 500),
        avatarDisabledBackground: map-get($warn, 100),
    );
    $chipOutlineUnselected: (
        color: map-get($foreground, text),
        hoverColor: map-get($foreground, text),
        background: map-get(blui.$blui-white, 50),
        hoverBackground: map-get(blui.$blui-gray, 100),
        removeIconColor: map-get(blui.$blui-gray, 500),
        removeIconHoverColor: map-get(blui.$blui-black, 500),
        avatarColor: map-get(blui.$blui-white, 50),
        avatarBackground: map-get(blui.$blui-gray, 500),
        avatarDisabledColor: map-get(blui.$blui-white, 50),
        avatarDisabledBackground: map-get(blui.$blui-gray, 500),
        borderColor: rgba(map-get(blui.$blui-black, 500), 0.12),
    );
    $chipOutlineDisabled: (
        color: rgba(map-get(blui.$blui-black, 500), 0.3),
        borderColor: rgba(map-get(blui.$blui-black, 500), 0.12),
        removeIconColor: rgba(map-get(blui.$blui-black, 500), 0.3),
    );
    @include chip.blui-mat-chip-outline(
        $chipOutlinePrimary,
        $chipOutlineAccent,
        $chipOutlineWarn,
        $chipOutlineUnselected,
        $chipOutlineDisabled
    );
    .mat-chip.mat-standard-chip::after {
        background: transparent;
    }

    /* toolbar*/
    .mat-toolbar {
        color: map-get($foreground, text);
        background-color: map-get(blui.$blui-white, 50);
        &.mat-primary {
            background-color: map-get($primary, 500);
            .mat-icon-button:not([color]) {
                color: map-get(blui.$blui-white, 50);
            }
        }
        &.mat-accent {
            background-color: map-get($primary, 700);
            .mat-icon-button:not([color]) {
                color: map-get(blui.$blui-white, 50);
            }
        }
        &.mat-warn .mat-icon-button:not([color]) {
            color: map-get(blui.$blui-white, 50);
        }
    }

    /* Buttons*/
    $buttonPrimary: (
        icon: (
            text: map-get($primary, 500),
        ),
        outline: (
            text: map-get($primary, 500),
            background: transparent,
            backgroundHover: rgba(map-get($primary, 500), 0.05),
            border: map-get($primary, 500),
        ),
        fill: (
            text: map-get(blui.$blui-white, 50),
            background: map-get($primary, 500),
            backgroundHover: map-get($primary, 300),
            disabled: (
                text: map-get($primary, 200),
                background: map-get($primary, 50),
            ),
        ),
    );
    $buttonAccent: (
        icon: (
            text: map-get($accent, 500),
        ),
        outline: (
            text: map-get($accent, 500),
            background: transparent,
            backgroundHover: rgba(map-get($accent, 500), 0.05),
            border: map-get($accent, 500),
        ),
        fill: (
            text: map-get(blui.$blui-white, 50),
            background: map-get($accent, 500),
            backgroundHover: map-get($accent, 300),
            disabled: (
                text: map-get($accent, 200),
                background: map-get($accent, 50),
            ),
        ),
    );
    $buttonWarn: (
        icon: (
            text: map-get($warn, 500),
        ),
        outline: (
            text: map-get($warn, 500),
            background: transparent,
            backgroundHover: rgba(map-get($warn, 500), 0.05),
            border: map-get($warn, 500),
        ),
        fill: (
            text: map-get(blui.$blui-white, 50),
            background: map-get($warn, 500),
            backgroundHover: map-get($warn, 300),
            disabled: (
                text: map-get($warn, 200),
                background: map-get($warn, 50),
            ),
        ),
    );
    $buttonDefault: (
        icon: (
            text: map-get(blui.$blui-gray, 500),
        ),
        outline: (
            text: map-get(blui.$blui-black, 500),
            background: transparent,
            backgroundHover: rgba(map-get(blui.$blui-black, 500), 0.05),
            border: rgba(map-get(blui.$blui-black, 500), 0.3),
        ),
        fill: (
            text: map-get(blui.$blui-black, 500),
            background: map-get(blui.$blui-white, 50),
            backgroundHover: rgba(map-get(blui.$blui-black, 500), 0.05),
            disabled: (
                text: map-get($foreground, disabled),
                background: map-get($background, disabled-button),
            ),
        ),
        toggle: (
            border: map-get(blui.$blui-gray, 100),
            default: (
                text: map-get(blui.$blui-gray, 500),
                background: map-get(blui.$blui-white, 50),
                backgroundHover: rgba(map-get(blui.$blui-black, 500), 0.05),
            ),
            active: (
                text: map-get($primary, 500),
                background: map-get($primary, 50),
                backgroundHover: map-get($primary, 100),
            ),
        ),
    );
    @include button.blui-mat-buttons($buttonPrimary, $buttonAccent, $buttonWarn, $buttonDefault);
    .mat-stroked-button,
    .mat-raised-button {
        &.mat-button-disabled {
            color: map-get($foreground, disabled);
            border: solid 1px map-get($foreground, divider);
        }
    }
    .mat-flat-button:not([color]) {
        background-color: map-get(blui.$blui-white, 500);
        &.mat-button-disabled {
            color: map-get($foreground, disabled);
            background-color: rgba(114, 126, 132, 0.12);
        }
    }

    /* Button Toggle Group Default */
    $buttonToggleDefault: (
        activeBackgroundColor: rgba(map-get(blui.$blui-blue, 500), 0.05),
        activeTextColor: map-get(blui.$blui-blue, 500),
        inactiveTextColor: map-get(blui.$blui-black, 500),
        selectedBorderColor: rgba(map-get(blui.$blui-black, 200), 0.36),
        unselectedBorderColor: rgba(map-get(blui.$blui-black, 500), 0.12),
    );

    /* Button Toggle Group Outline */
    $buttonToggleOutline: (
        activeBackgroundColor: rgba(map-get(blui.$blui-blue, 500), 0.05),
        activeTextColor: map-get(blui.$blui-blue, 500),
        inactiveTextColor: map-get(blui.$blui-gray, 500),
        selectedBorderColor: map-get(blui.$blui-blue, 500),
        unselectedBorderColor: rgba(map-get(blui.$blui-black, 500), 0.12),
    );

    /* Button Toggle Group Filled */
    $buttonToggleFilled: (
        activeBackgroundColor: map-get(blui.$blui-blue, 500),
        activeTextColor: map-get(blui.$blui-white, 50),
        inactiveTextColor: map-get(blui.$blui-blue, 500),
        selectedBorderColor: map-get(blui.$blui-blue, 500),
        unselectedBorderColor: map-get(blui.$blui-blue, 500),
    );
    @include button-toggle.blui-mat-button-toggle($buttonToggleDefault, $buttonToggleOutline, $buttonToggleFilled);

    /* Tabs */
    $tabText: map-get($primary, 500);
    $tabBackground: map-get(blui.$blui-white, 50);
    $tabActiveText: map-get($primary, 500);
    $tabActiveBackground: map-get(blui.$blui-white, 50);
    $tabUnderline: map-get($primary, 500);
    @include tab.blui-mat-tab($tabText, $tabBackground, $tabActiveText, $tabActiveBackground, $tabUnderline);

    /* Stepper */
    $stepperBackground: map-get($background, dialog);
    $stepperIcon: (
        defaultColor: map-get(blui.$blui-black, 500),
        defaultBg: map-get(blui.$blui-white, 500),
        activeColor: map-get(blui.$blui-white, 50),
        activeBg: map-get($primary, 500),
    );
    $stepperLabel: (
        defaultColor: map-get(blui.$blui-black, 500),
        activeColor: map-get($primary, 500),
    );
    @include stepper.blui-mat-stepper($stepperBackground, $stepperIcon, $stepperLabel);

    /* Slide Toggle */
    $slideTogglePrimary: (
        thumb: map-get($primary, 500),
        bar: rgba(map-get($primary, 500), 0.38),
    );
    $slideToggleAccent: (
        thumb: map-get($accent, 500),
        bar: rgba(map-get($accent, 500), 0.5),
    );
    $slideToggleWarn: (
        thumb: map-get($warn, 500),
        bar: rgba(map-get($warn, 500), 0.38),
    );
    $inactiveThumb: map-get(blui.$blui-white, 50);
    @include slide-toggle.blui-mat-slide-toggle($slideTogglePrimary, $slideToggleAccent, $slideToggleWarn, $inactiveThumb);
    .mat-slide-toggle:not([color]).mat-checked .mat-ripple-element {
        background-color: rgba(map-get(blui.$blui-black, 500), 0.36);
    }

    /* date picker */
    .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
        border-color: map-get($primary, 500);
    }
    .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
    .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon,
    .mat-input-element.mat-form-field-autofill-control.mat-datepicker-input {
        color: map-get($foreground, text);
    }

    /* Snackbar button */
    .mat-snack-bar-container {
        color: map-get(blui.$blui-black, 50);
        .mat-simple-snackbar-action .mat-button {
            color: map-get($primary, 200);
            &:hover {
                background-color: rgba(map-get($accent, 500), 0.2);
            }
        }
    }

    /* Radio Button */
    .mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
        border-color: map-get($foreground, disabled);
    }
    .mat-checkbox-disabled .mat-checkbox-label {
        color: map-get($foreground, disabled);
    }

    /* Slider */
    .mat-slider {
        .mat-slider-thumb {
            background-color: map-get($primary, 500);
        }
        .mat-slider-track-fill {
            background-color: map-get($primary, 300);
        }
        .mat-slider-ticks {
            background-image: repeating-linear-gradient(
                to right,
                map-get($primary, 200),
                map-get($primary, 200),
                2px,
                transparent 0,
                transparent
            );
        }
        &.mat-slider-disabled {
            .mat-slider-thumb {
                background-color: map-get($foreground, disabled);
            }

            .mat-slider-track-fill {
                background-color: map-get(blui.$blui-gray, 300);
            }
        }
    }
    .mat-slider-horizontal .mat-slider-track-background,
    .mat-slider:hover .mat-slider-track-background {
        background-color: rgba(map-get(blui.$blui-black, 300), 0.36);
    }

    /* BLUI Drawer */
    .blui-drawer {
        background-color: map-get(blui.$blui-white, 50);

        .blui-drawer-nested-nav-item .mat-expansion-panel {
            background-color: map-get(blui.$blui-white, 200);
        }

        .blui-drawer-nav-item-active-highlight {
            opacity: 0.05;
        }

        .blui-drawer-nav-item-active, /*NavRail item*/
        .blui-drawer-nav-item-active .blui-info-list-item .mat-list-item-content, /*Normal NavItem*/
        .blui-drawer-nav-item-active .blui-info-list-item .blui-info-list-item-icon-wrapper {
            color: map-get($primary, 500);
        }

        .blui-info-list-item .blui-info-list-item-icon-wrapper {
            color: map-get($foreground, text);
        }
    }

    /*  Drawer Content */
    .mat-drawer-content {
        background-color: map-get(blui.$blui-white, 200);
    }

    /* Disabled  */
    .mat-menu-item[disabled] .mat-icon-no-color {
        color: map-get($foreground, disabled);
    }
    .mat-list-item-disabled {
        background-color: unset;
        opacity: 0.5;
    }

    .mat-select-panel {
        .mat-option.mat-selected:not(.mat-option-disabled) {
            color: map-get($foreground, text);
        }
    }

    /* Mat Table */
    th.mat-header-cell {
        color: map-get($foreground, text);
    }
}
