@mixin common() {
    /* Changing the default height of the mat-input fields requires repositioning text and label values. */
    .mat-form-field {
        line-height: 1.24;
    }

    .mat-chip .mat-chip-avatar.mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
}
