@mixin common() {
    /* Changing the default height of the mat-input fields requires repositioning text and label values. */
    .mat-form-field {
        line-height: 1.24;
    }

    .mat-chip .mat-chip-avatar.mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
        margin: 0 8px;
    }
    .mat-chip .mat-chip-avatar {
        font-size: 0.625rem;
    }

    .mat-button-toggle-group {
        height: 36px;
        box-sizing: border-box;
        .mat-button-toggle-button {
            height: 100%;
        }
        .mat-button-toggle {
            height: 100%;
            .mat-button-toggle-label-content {
                line-height: 100%;
            }
        }
    }
    // Changing border behaviour of mat-button-toggle-group
    .mat-button-toggle-group-appearance-standard {
        border: 1px solid transparent;
        border-radius: 0;
        .mat-button-toggle-appearance-standard {
            &:first-of-type {
                .mat-button-toggle-button {
                    border-radius: 4px 0 0 4px;
                }
            }
            &:nth-of-type(1n+1):not(:first-of-type):not(:last-of-type) {
                .mat-button-toggle-button {
                    border-radius: 0;
                    border-left: 0;
                }
            }
            &:last-of-type {
                .mat-button-toggle-button {
                    border-radius: 0 4px 4px 0px;
                    border-left: 0;
                }
            }
            &.mat-button-toggle-checked {
                background-color: transparent;
            }
            .mat-button-toggle-button {
                border: 1px solid; 
            }
        }

        // checked toggle button
        .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
            &:first-of-type {
                .mat-button-toggle-button {
                    border: 1px solid;
                }
            }
            &:nth-of-type(1n+1) {
                &:not(:first-of-type) {
                    &:not(:last-of-type) {
                        .mat-button-toggle-button {
                            border: 1px solid;
                            margin-left: -1px;
                        }
                        + {
                            .mat-button-toggle-appearance-standard {
                                margin-left: -1px;
                            }
                        }
                    }
                }
            }
            &:last-of-type {
                .mat-button-toggle-button {
                    border: 1px solid;
                    margin-left: -1px;
                }
            }
        }
        
    }
    .mat-expansion-panel {
        .mat-expansion-panel-header {
            .mat-expansion-indicator {
                margin-top: -8px;
            }
            &.mat-expanded {
                .mat-expansion-indicator {
                    margin-top: 4px;
                }
            }
        }
    }
    .mat-tooltip {
        font-size: 12px;
    }
}
