@mixin common() {
    /* Changing the default height of the mat-input fields requires repositioning text and label values. */
    .mat-form-field {
        line-height: 1.24;
    }

    .mat-chip .mat-chip-avatar.mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
        margin: 0 8px;
    }
    .mat-chip .mat-chip-avatar {
        font-size: 0.625rem;
    }

    .mat-button-toggle-group {
        height: 36px;
        box-sizing: border-box;
        .mat-button-toggle-button {
            height: 100%;
        }
        .mat-button-toggle {
            height: 100%;
            .mat-button-toggle-label-content {
                line-height: 100%;
            }
        }
    }
    .mat-expansion-panel {
        .mat-expansion-panel-header {
            .mat-expansion-indicator {
                transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                margin-top: -8px;
            }
            &.mat-expanded {
                .mat-expansion-indicator {
                    margin-top: 4px;
                }
            }
        }
    }
    .mat-tooltip {
        font-size: 12px;
    }
    th.mat-header-cell {
        font-size: 0.875rem;
        font-weight: 600;
    }
    .mat-row {
        min-height: 3.25rem;
    }
    td.mat-cell {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 0.875rem;
    }
    th.mat-header-cell, td.mat-cell, td.mat-footer-cell, 
    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, 
    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, 
    [dir=rtl] th.mat-header-cell:first-of-type:not(:only-of-type), [dir=rtl] td.mat-cell:first-of-type:not(:only-of-type), [dir=rtl] td.mat-footer-cell:first-of-type:not(:only-of-type),
    [dir=rtl] th.mat-header-cell:last-of-type:not(:only-of-type), [dir=rtl] td.mat-cell:last-of-type:not(:only-of-type), [dir=rtl] td.mat-footer-cell:last-of-type:not(:only-of-type) {
        padding-left: 16px;
        padding-right: 16px;
    }
}
