@mixin common() {
    /* Changing the default height of the mat-input fields requires repositioning text and label values. */
    .mat-form-field {
        line-height: 1.24;
    }

    .mat-chip .mat-chip-avatar.mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
        margin: 0 8px;
    }
    .mat-chip .mat-chip-avatar {
        font-size: 0.625rem;
    }

    .mat-button-toggle-group {
        height: 36px;
        box-sizing: border-box;
        .mat-button-toggle-button {
            height: 100%;
        }
        .mat-button-toggle {
            height: 100%;
            .mat-button-toggle-label-content {
                line-height: 100%;
            }
        }
    }
}
