@mixin typography() {
    .mat-display-4,
    .mat-display-3,
    .mat-display-2 {
        letter-spacing: 0;
    }

    .mat-display-4,
    .mat-display-3,
    .mat-display-2,
    .mat-display-1,
    .mat-headline,
    .mat-title,
    .mat-subheading-1,
    .mat-subheading-2,
    .mat-body-1,
    .mat-body-2,
    .mat-caption,
    .mat-button {
        margin-bottom: 0;
    }

    .mat-body-2 {
        font-weight: 600;
    }

    .mat-overline {
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: 0.125rem;
        line-height: 2.66;
        text-transform: uppercase;
    }
}

@mixin blui_typography() {
    .blui-headline-1 {
        font-size: 6rem;
        font-weight: 300;
        line-height: 1.167em;
    }
    .blui-headline-2 {
        font-size: 3.75rem;
        font-weight: 300;
        line-height: 1.2em;
    }
    .blui-headline-3 {
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.167em;
    }
    .blui-headline-4 {
        font-weight: 400;
        font-size: 2.125rem;
        line-height: 1.235em;
    }
    .blui-headline-5 {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.334;
    }
    .blui-headline-6 {
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.6em;
    }
    .blui-subtitle-1 {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.75em;
    }
    .blui-subtitle-2 {
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.57em;
    }
    .blui-body-1 {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5em;
    }
    .blui-body-2 {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.43em;
    }
    .blui-button {
        font-weight: 600;
        font-size: 0.875rem;
        text-transform: uppercase;
        line-height: 1.75em;
    }
    .blui-caption {
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.67em;
    }
    .blui-overline {
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: 0.125rem;
        line-height: 2.66;
        text-transform: uppercase;
        line-height: 2.67em;
    }

}

