@import '../utility';

@mixin blui-mat-button-toggle-default() {  
    .mat-button-toggle-group-appearance-standard {
        border: 1px solid transparent;
        border-radius: 0;
        .mat-button-toggle-appearance-standard:first-of-type {
            .mat-button-toggle-button {
                border: 1px solid #e7e9ea;
                border-radius: 4px 0 0 4px;
            }
        }
        .mat-button-toggle-appearance-standard:nth-of-type(1n+1):not(:first-of-type):not(:last-of-type) {
            .mat-button-toggle-button {
                border: 1px solid #e7e9ea;
                border-left-width: 0;
                border-right-width: 0;
                border-radius: 0;
            }
        }
        .mat-button-toggle-appearance-standard:last-of-type {
            .mat-button-toggle-button {
                border: 1px solid #e7e9ea;
                // border-left-width: 0;
                border-radius: 0 4px 4px 0px
            }
        }
    }
    
}

@mixin blui-mat-button-toggle-checked-default() {
    .mat-button-toggle-checked {
        background-color: transparent;
    }
    .mat-button-toggle-group-appearance-standard {
        // .mat-button-toggle-appearance-standard.mat-button-toggle-checked:first-of-type {
        //     .mat-button-toggle-button {
        //         border: 1px solid #A1A7AA5C;
        //     }   
        // }
        
    
        .mat-button-toggle-appearance-standard {
            &.mat-button-toggle-checked {
                &:first-of-type {
                    .mat-button-toggle-button {
                        border: 1px solid #A1A7AA5C;
                        color: green;
                    } 
                }
            }
            &:not(.mat-button-toggle-checked):nth-of-type(1n+1):not(:first-of-type):not(:last-of-type) {
                .mat-button-toggle-button {
                    border-left-width: 0;
                    color: yellow;
                }
            }
    
            &:not(.mat-button-toggle-checked):last-of-type {
                .mat-button-toggle-button {
                    border-left-width: 1px;
                    color: pink;
                }
            }
        }

        .mat-button-toggle-appearance-standard {
            &.mat-button-toggle-checked {
                &:nth-of-type(1n+1):not(:first-of-type):not(:last-of-type) {
                    .mat-button-toggle-button {
                        border: 1px solid #A1A7AA5C;
                        color: purple;
                    } 
                }
            }
            &:not(.mat-button-toggle-checked):first-of-type {
                .mat-button-toggle-button {
                    border-right-width: 0;
                    color: blue;
                }
            }
    
            &:not(.mat-button-toggle-checked):last-of-type {
                .mat-button-toggle-button {
                    border-left-width: 0;
                    color: red;
                }
            }
        }

        .mat-button-toggle-appearance-standard {
            &.mat-button-toggle-checked {
                &:last-of-type {
                    .mat-button-toggle-button {
                        border: 1px solid #A1A7AA5C;
                        color: royalblue;
                    } 
                }
            }
            &:not(.mat-button-toggle-checked):nth-of-type(1n+1):not(:first-of-type):not(:last-of-type) {
                .mat-button-toggle-button {
                    border-right-width: 0;
                    color: rosybrown;
                }
            }
    
            &:not(.mat-button-toggle-checked):first-of-type {
                .mat-button-toggle-button {
                    border-right-width: 1px;
                    color: brown;
                }
            }
        }
    
    }
    

    // .mat-button-toggle-appearance-standard.mat-button-toggle-checked:first-of-type {
    //     .mat-button-toggle-button {
    //         border: 1px solid #A1A7AA5C;
    //     }
    // }

    // .mat-button-toggle-appearance-standard.mat-button-toggle-checked:nth-of-type(1n+1):not(:first-of-type):not(:last-of-type) {
    //     .mat-button-toggle-button {
    //         border: 1px solid #A1A7AA5C;
    //     }
    // }

    // .mat-button-toggle-appearance-standard.mat-button-toggle-checked:last-of-type {
    //     .mat-button-toggle-button {
    //         border: 1px solid #A1A7AA5C;
    //     }
    // }
    // .mat-button-toggle.mat-button-toggle-checked .mat-button-toggle-button {
    //     background-color: #007BC10D;
    //     color: #007BC1;
    //     border: 1px solid #A1A7AA5C;
    // }
}